@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

/* customizing for tailwind */
@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  
  /* ... */
}

/* 기본 폰트 적용 */
body {
  font-family: 'Pretendard';
  font-display: swap; /* 웹폰트가 로드되기 전에 기본 폰트를 사용 */
}

.custom-dashed-border {
  width: 100%;
  height: 2px; /* 점선 두께 */
  border: none; /* 기존 border 제거 */
  background-image: repeating-linear-gradient(
    to right,
    white,
    white 5px,  /* 점선 길이 */
    transparent 5px,
    transparent 13px /* 점선 간격 */
  );
  background-size: contain; /* 점선이 전체 길이 조절 */
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: white !important; /* 화살표 색상을 흰색으로 */
  font-size: 2rem !important; /* 화살표 크기 조절 */
}

/* 애니메이션 클래스 */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-animate {
  animation: slideUp 0.5s ease-out forwards;
}
@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.6s ease-out both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}